{% extends "base.html" %}
{% load gafilter %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<div class="row no-gutter">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="panel">
			<div class="panel-heading">
				<h4>My Earnings</h4>
				<ul class="links">
					<li>
						<a href="index.html#">
							<i class="fa fa-shopping-cart"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="panel-body" style="
    background: rgb(255, 249, 181);
">
				<div class="daily-stats">
					<h1 class="number">
						<span>00</span>$4595
					</h1>
					<p class="avg">Total</p>
					<ul class="details">
						<li>
							<h4 class="num">4</h4>
							<small>Campaigns</small>
						</li>
						<li>
							<h4 class="num">13</h4>
							<small>Areas</small>
						</li>
						<li>
							<h4 class="num">170</h4>
							<small>Trees</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="panel">
			<div class="panel-heading">
				<h4>Conversion Stats</h4>
				<ul class="links">
					<li>
						<a href="index.html#">
							<i class="fa fa-line-chart"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="panel-body" style="
    background: rgb(131, 233, 164);
">
				<div class="daily-stats">
					<h1 class="number primary">
						<span>000</span>76<sup>%</sup>
					</h1>
					<p class="avg">Total</p>
					<div class="progress progress-sm">
						<div class="progress-bar progress-bar-success" style="width: 40%">
						</div>
						<div class="progress-bar progress-bar-primary" style="width: 60%">
						</div>
					</div>
					<ul class="min-max">
						<li>
							<h4 class="num"><small>Min</small>2579</h4>
						</li>
						<li>
							<h4 class="num"><small>Max</small>4475</h4>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel">
			<div class="panel-heading">
				<h3>My Active Campaigns<a href='/mycampaign' class='pull-right btn btn-info'>See more</a></h3>
			</div>
			<div class="panel-body">
				<ul class="progress-stats">
					{% for mycam in mycampaigns %}
					<li>
						<div class="details">
							<span>{{ mycam.name }}</span>
							<span class="pull-right">{% myplantationtotal mycam request.user as iq %}{% if iq %}{{ iq }} plants{% else %}Start Planting{% endif %} </span>
						</div>
						<div class="progress progress-sm no-margin">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
							</div>
						</div>
					</li>
					{% endfor %}
					<a href='/mycampaign' class="btn btn-group btn-info"> See more </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

        <div class="panel-heading">
			<h3>Current Open Campaigns<a href='/campaign' class='pull-right btn btn-info'>See more</a></h3>
		</div>
        <div class="panel-body">
          <div class="row no-gutter">
  			{% for campaign in campaigns%}
	            <div class="col-md-4 col-sm-4 col-sx-12">
	              <div class="panel panel-default no-margin">
	                <div class="panel-heading">
						<h3>{{campaign.name}}<a onclick="joinCampaign({{campaign.id}})" class='pull-right btn btn-info'>Join</a></h3>
					</div>
	                <div class="panel-sub-heading">
	                  {{campaign.description|truncatechars:50}}...
	                </div>
	                <div class="panel-body">
	                  <div class="list-group no-margin">
	                  	{% for loc in campaign.zones.all %}
	                    <div  class="list-group-item" data-original-title="">
	                      {{ loc.name }} <span class="pull-right">{{ loc.total_points }} for {{ loc.total_plants }} plants</span>
	                    </div>
	                    {% endfor %}
	                  </div>
	                </div>
	              </div>
	            </div>
			{% endfor %}
          </div>
        </div>
      </div>
	</div>
	<a href='/campaign' class="btn btn-group btn-info"> Click to see more</a>
</div>
<!-- Row Ends -->


{% endblock body%}