{% extends "base.html" %}
{% load gafilter %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

<div class="row no-gutter">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<div class="panel">
			<div class="panel-body" style="background: #20DDFC;min-height: 200px;cursor: pointer;"  onclick="window.location = '/mypoints';return false">
				<div class="daily-stats" style="margin-top:55px">
					<h1 class="number">
						<span class="glyphicon glyphicon-user" style="margin-right: .7em;position: relative;"></span><span>Approved Points&nbsp;:&nbsp;</span>{{apts}}
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<div class="panel">
			<div class="panel-body" style="background: #FCC120;min-height: 200px;cursor: pointer;" onclick="window.location = '/mypoints';return false">
				<div class="daily-stats" style="margin-top:55px">
					<h1 class="number">
						<span class="glyphicon glyphicon-briefcase" style="margin-right: .7em;position: relative;"></span><span>Pending Points&nbsp;:&nbsp;</span>{{ppts}}
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<div class="panel">
			<div class="panel-body" style="background: #FC5A20;min-height: 200px;cursor: pointer;" onclick="window.location = '/mycampaign';return false">
				<div class="daily-stats" style="margin-top:55px">
					<h1 class="number">
						<span class="glyphicon glyphicon-globe" style="margin-right: .7em;position: relative;"></span><span>My Campaigns&nbsp;:&nbsp;</span>{{mycampaigns|length}}
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<div class="panel">
			<div class="panel-body" style="background: #20DDFC;min-height: 200px;cursor: pointer;" onclick="window.location = '/myplantation';return false">
				<div class="daily-stats" style="margin-top:55px">
					<h1 class="number">
						<span class="glyphicon glyphicon-leaf" style="margin-right: .7em;position: relative;"></span><span>My Plantations&nbsp;:&nbsp;</span>{{tlen}}
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel">
			<div class="panel-heading">
				<h3>My Active Campaigns<a href='/mycampaign' class='pull-right btn btn-info'>See more</a></h3>
			</div>
			<div class="panel-body">
				<ul class="progress-stats">
					{% for mycam in mycampaigns %}
					<li>
						<div class="details">
							<span>{{ mycam.name }}</span>
							<span class="pull-right">{% myplantationtotal mycam request.user as iq %}{% if iq %}{{ iq }} plants{% else %}Start Planting{% endif %} </span>
						</div>
						<div class="progress progress-sm no-margin">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
							</div>
						</div>
					</li>
					{% endfor %}
					<a href='/mycampaign' class="btn btn-group btn-info"> See more </a>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-xs-12">
      <div class="panel panel-default">

        <div class="panel-heading">
			<h3>Current Open Campaigns<a href='/campaign' class='pull-right btn btn-info'>See more</a></h3>
		</div>
        <div class="panel-body">
          <div class="row no-gutter">
  			{% for campaign in campaigns%}
	            <div class="col-md-4 col-sm-4 col-sx-12">
	              <div class="panel panel-default no-margin">
	                <div class="panel-heading">
						<h3>{{campaign.name}}<a onclick="joinCampaign({{campaign.id}})" class='pull-right btn btn-info'>Join</a></h3>
					</div>
	                <div class="panel-sub-heading">
	                  {{campaign.description|truncatechars:50}}...
	                </div>
	                <div class="panel-body">
	                  <div class="list-group no-margin">
	                  	{% for loc in campaign.zones.all %}
	                    <div  class="list-group-item" data-original-title="">
	                      {{ loc.name }} <span class="pull-right">{{ loc.total_points }} for {{ loc.total_plants }} plants</span>
	                    </div>
	                    {% endfor %}
	                  </div>
	                </div>
	              </div>
	            </div>
			{% endfor %}
          </div>
        </div>
      </div>
	</div>
	<a href='/campaign' class="btn btn-group btn-info"> Click to see more</a>
</div>
<!-- Row Ends -->


{% endblock body%}