{% extends "base.html" %}
{% block title %}My Campaigns{% endblock title %}
{% block breadcrumb %}My Campaigns{% endblock breadcrumb %}

{% block nav %}
<li class='highlight'>
	<a href='/dashboard'>
		<div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
		<span>Dashboard</span>
	</a>
</li>
<li>
	<a href='/campaign'>
		<div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
		<span>All Campaigns</span>
	</a>
</li>
<li>
	<a href='/mycampaign'>
		<div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
		<span>My Campaigns</span>
	</a>
</li>
<li>
	<a href='/myplantation'>
		<div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
		<span>My Plantation</span>
	</a>
</li>
<li>
	<a href='/mypoints'>
		<div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
		<span>My Points</span>
	</a>
</li>
<hr>
<li>
	<a href='/logout/'>
		<div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
		<span>Logout</span>
	</a>
</li>
{% endblock nav %}
{% block body %}
<!-- Row start -->
<div class="row no-gutter">
	{% for zone in zones %}
	<div class="col-md-12 col-xs-12">
	  <div class="panel panel-default">
	    <div class="panel-heading" style="height:57px;">
						<h4>{{zone.campaign.name}} - {{zone.name}}<a href='#' onclick="doPlantation({{zone.id}})" class='pull-right btn btn-info'>Add Plantation</a></h4>
					</div>
	    <div class="panel-sub-heading">
	      {{zone.campaign.description}}
	    </div>
	    <div class="panel-body">
	        <div class="daily-stats">
	        		<ul class="details">
						<li>
							<h4 class="num">{{zone.available_plants}}</h4>
							<small>Available Plants</small>
						</li>
						<li>
							<h4 class="num">{{zone.total_plants}}</h4>
							<small>Total Plants</small>
						</li>
						<li>
							<h4 class="num">{{zone.total_points}}</h4>
							<small>Total Points</small>
						</li>
					</ul>
	        </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
</div>
<!-- Row end -->

{% endblock body %}